.navbar {
  width: 100px;
  height: 100%;
  justify-content: space-between !important;
  padding: 20px 0;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  background-color: $primary;
  border-radius: 0 40px 40px 0;
  &__logo {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid transparentize($white, 0.5);
    a {
      width: 100%;
      height: 100%;
      img {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
  &__links {
    width: 100%;
    .link {
      width: 36px;
      height: 36px;
      margin: 16px 0;
      background-color: transparentize($white, 0.85);
      border-radius: 10px;
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
      svg {
        transition: transform 0.1s;
        width: 20px;
        height: 20px;
        fill: transparentize($white, 0.2);
      }
      &.active {
        svg {
          fill: $white;
          transform: scale(1.1);
        }
      }
    }
  }
  &__logout {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: transparentize($white, 0.85);
    transition: 0.1s;
    svg {
      fill: $white;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
