$color-list: $primary-darkest, $primary, $primary-light;
.navbar {
  width: 100px;
  height: 100%;
  justify-content: space-between !important;
  padding: 20px 0;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
  &__logo {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    @include gradient(45deg, $color-list);
    border: 2px solid $primary-darkest;
    a {
      width: 100%;
      height: 100%;
      img {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
  &__links {
    width: 100%;
    .link {
      width: 36px;
      height: 36px;
      margin: 16px 0;
      background-color: transparentize($gray-one, 0.5);
      border-radius: 10px;
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
      svg {
        transition: transform 0.1s;
        width: 20px;
        height: 20px;
        fill: $gray-three;
      }
      &.active {
        svg {
          fill: $dark;
        }
      }
    }
  }
  &__logout {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: transparentize($gray-one, 0.5);
    transition: 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
