.dashboard-layout {
  width: 100vw;
  height: 100vh;
  justify-content: space-between !important;
  &__content {
    width: calc(100% - 110px);
    height: calc(100% - 16px);
    overflow-y: auto;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}
