.dashboard-layout {
  width: 100vw;
  height: 100vh;
  justify-content: space-between !important;
  &__content {
    width: calc(100% - 100px);
    padding: 20px 10px;
    height: 100%;
    overflow-y: auto;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}
