$primary-darkest: #0c89ff;
$primary: #309bff;
$primary-light: #70baff;
$dark: #2b3243;
$dark-two: #363d4f;
$dark-three: #424b61;
$gray-one: #d1d5db;
$gray-two: #a2a9c0;
$gray-three: #6a7492;
$white: #fff;

$max-width-one: 800px;
$padding-one: 10px;
$red: #ed5959;
$orange: #fb923c;
$green: #00d030;
$red-light: transparentize($red, 0.7);
$orange-light: transparentize($orange, 0.7);
$green-light: transparentize($green, 0.7);
