$primary-darkest: #59beb7;
$primary: #64CCC5;
$primary-light: #8aeae4;
$dark: #053B50;
$dark-two: #0f5870;
$dark-three: #176B87;
$gray-one: #EEEEEE;
$gray-one-lighter: #f5f5f5;
$gray-two: #a2a9c0;
$gray-three: #7b839b;
$white: #fff;
$black: #000;
$max-width-one: 800px;
$padding-one: 10px;
$red: #ed5959;
$orange: #fb923c;
$yellow: #f5d100;
$green: #53cf84;
$red-light: transparentize($red, 0.7);
$orange-light: transparentize($orange, 0.7);
$green-light: transparentize($green, 0.7);
