.base-widget {
  width: calc(50% - 5px);
  border: 1px solid $gray-one;
  border-radius: 5px;
  justify-content: flex-start !important;
  overflow: hidden;
  margin: 8px;
  &__header {
    width: 100%;
    $color-list: $gray-one-lighter, $white;
    @include gradient(-90deg, $color-list);
    padding: 10px 20px;
    border-bottom: 1px solid $gray-one;
    h3 {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &__content {
    width: 100%;
    padding: 5px;
    height: calc(100% - 21px);
    &--with-title {
      height: calc(100% - 43px);
    }
    //overflow-y: auto;
  }
}
