.base-widget {
  width: calc(50% - 5px);
  height: 440px;
  border: 1px solid $gray-one;
  border-radius: 20px;
  justify-content: flex-start !important;
  overflow: hidden;
  margin-bottom: 10px;
  &__header {
    width: 100%;
    background-color: transparentize($gray-one, 0.9);
    padding: 10px 20px;
    border-bottom: 1px solid $gray-one;
    h3 {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &__content {
    width: 100%;
    padding: 5px;
    height: calc(100% - 21px);
    &--with-title {
      height: calc(100% - 43px);
    }
    //overflow-y: auto;
  }
}
