.answer-list {
  width: 100%;
  height: 100%;
  justify-content: flex-start !important;
  overflow-y: auto;
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    tbody {
      overflow-x: auto;
      width: 100%;
      height: 100%;
    }
    th,
    td {
      padding: 15px;
      width: 100%;
      height: 40px;
    }
    td,
    th {
      white-space: nowrap;
      overflow-x: scroll;
      text-overflow: clip;
    }
    th {
      text-align: left;
      color: $dark-two;
      backdrop-filter: blur(10px);
      position: sticky;
      top: 0;
    }
    tr {
      border-bottom: 1px solid $gray-one;
      width: 100%;
      font-size: 14px;
      color: $dark-three;
      font-weight: 500;
      &:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }
}
