.survey-card {
  width: 300px;
  min-width: 300px;
  height: 270px;
  border-radius: 20px;
  border: 1px solid $gray-one;
  background-color: $white;
  margin: 8px;
  justify-content: space-between !important;
  &__header {
    width: 100%;
    border-bottom: 1px solid $gray-one;
    padding: 10px 15px;
    justify-content: space-between !important;
    span {
      font-weight: 600;
      font-size: 14px;
    }
    .actions {
      svg {
        background-color: transparentize($color: $gray-one, $amount: 0.5);
        border-radius: 50%;
        padding: 5px;
        box-sizing: content-box;
        cursor: pointer;
        &:hover {
          background-color: $gray-one;
        }
      }
      .setting {
        position: relative;
      }
    }
  }
  &__footer {
    padding: 10px 15px;
    width: 100%;
    justify-content: space-between !important;
    font-weight: 500;
    font-size: 13px;
    .answers {
      svg {
        margin-right: 5px;
      }
    }
    .status {
      padding: 5px;
      border-radius: 4px;
      color: $white;
      font-weight: 500;
      &--active {
        color: $green;
        background-color: $green-light;
      }
      &--disabled {
        color: $dark;
        background-color: $gray-one;
      }
    }
  }
}
