.navbar {
  width: 100px;
  height: 100%;
  justify-content: space-between !important;
  &__logo {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $dark;
    img {
      width: 60%;
      height: 60%;
      object-fit: contain;
    }
  }
  &__links {
    width: 100%;
    .link {
      width: 36px;
      height: 36px;
      margin: 16px 0;
      background-color: $gray-one;
      border-radius: 10px;
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
      svg {
        transition: transform 0.1s;
        width: 20px;
        height: 20px;
        fill: $gray-three;
      }
      &.active {
        svg {
          fill: $dark;
        }
      }
    }
  }
  &__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $gray-three;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
