@keyframes bottomToTop {
  to {
    transform: translateY(-20px);
  }
}
.auth-layout {
  height: 100vh;
  width: 100vw;
  justify-content: space-between !important;
  &__left {
    width: 50%;
    height: 100%;
    $color-list: $primary-darkest, $primary, $white;
    @include gradient(45deg, $color-list);
    img {
      display: block;
      width: 150px;
      position: relative;
      animation: bottomToTop 0.5s ease infinite alternate;
    }
    .version {
      font-size: 14px;
      font-weight: bold;
      color: $primary;
      width: 110px;
      height: 30px;
      border-radius: 3px;
      background-color: $white;
    }
  }

  &__right {
    width: 50%;
    height: 100%;
  }
}
